@import "bootstrap";
body {
     padding-top:50px;
}
#logo {
     padding:15px;
     float:left;
     font-size:18px;
     color:#ddd;
     &:hover {
          text-decoration:none;
          color:#fff;
     }
}
.navbar .nav {
     li {
          a {
               padding:15px;
               color:#ddd;
               font-size:14px;
               line-height:20px;
          }
     }
}

.clear {
     clear:both;
}
.tourney {
     overflow:hidden;
}
.bracket_container {
    position:relative;
    overflow:hidden;
}
.round {
     float:left;
     width:8em;
}
.round1 {

}
.round2 {
     margin-top:2.25em;
     .spacer {
        height:5em;
     }
     .game {
        margin-bottom:5em;
     }
}
.round3 {
    margin-top:5.75em;
    .spacer {
        height:12em;
     }
}
.game {
     margin-bottom:1em;
     border-right:.2em solid black;
}
.team-name {
}
.team {
     padding:.25em;
     background-color:orange;
}
.seed {
     color:red;
}
.spacer {
     text-align:center;
     position:relative;
     height:2.25em;
}
 .score {
     position: absolute;
     top: 50%;
     left: 50%;
     height: 50%;
     width: 50%;
     margin: -8% 0 0 -25%;
}

