<footer class="footer">
  <small>
    <a href="http://brackit-test.com/">Brackit</a>
    by Aaron Mead
  </small>
  <nav>
    <ul>
      <li><%= link_to "Players",   players_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Games", games_path %></li>
      <li><%= link_to "Brackets", brackets_path %></li>
    </ul>
  </nav>
</footer>